/*Styles in the navbar header*/
.navbar-brand {
    font-family: 'Noto Sans JP', sans-serif;
    background-color:green;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 700;
    color:black;
}

/* Adds style for all content boxes in project*/
.infoBox {
    background-color: #343a40;
    margin-top: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 90px;
    margin-left:10px;
}
.infoBox-row {
    margin-left: 20px;
    margin-right: 20px;

}